/* Cabeçalho */
header {
    background-color: #fcd80f;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Container do cabeçalho */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Imagem à esquerda */
#pou1 {
    width: 100px;
    margin-left: 10px;
}

/* Imagem à direita */
#pou2 {
    width: 100px;
    margin-right: 10px;
}

/* Título e subtítulo centralizados */
.header-container h1 {
    font-size: 40px;
    flex: 1;
    text-align: center;
    margin: 0;
}

.subtitle {
    font-size: 18px;
    font-style: italic;
    text-align: center;
}
